/Gui$1Avslutt.class
/Gui$1Retning.class
/Gui$1StartAvslutt.class
/Gui$Piltast.class
/Gui$Retning.class
/Gui.class
/HovedprogramSlangespillet.class
/Kontroll$Slangetraad.class
/Kontroll.class
/Modell.class
/SlangespilletDagLangmyr